<div class="noticiaPage">
  <app-topbar></app-topbar>
  <div class="noticia">
    <mat-card>
      <mat-card-content>
        <img
            mat-card-image
            src="../../../assets/noticia2.jpg"
            alt="ransomware"
          />
        <mat-card-title>
          Ransomware: Pagamentos por resgates de dados tiveram aumento de 78% em 2021
        </mat-card-title>
        <mat-divider></mat-divider>
        <div class="texto">
          <p>
            De acordo com pesquisa feita pela Unit 42, grupo de pesquisa da Palo Alto Networks, os pagamentos 
            feitos por empresas para recuperar dados sequestrados por ataques ransomware atingiram recorde em 
            2021. A média de pagamento subiu de 78%, passando de U$ 303,7 mil em 2020, para U$541 mil em 2021.
            Daniel Bortolazo, gerente de engenharia de sistemas da empresa de cibersegurança Palo Alto Networks, 
            diz que o ransomware é muito comum por ter um aspecto impactante, já que todos percebem que o ataque 
            inviabiliza completamente a plataforma atacada. Bortolazo elenca três pontos que estão sendo cada 
            vez mais comuns, fazendo com que os criminosos solicitem valores mais significativos e as empresas 
            aceitem pagá-los.
          </p>
          <p>
            “A primeira coisa é que esses ataques passam por um processo de extorsão múltipla”. Ou seja, além 
            do hacker criptografar os dados da empresa, ele ameaça divulgá-los. “Essa exposição pode esbarrar 
            na lei de proteção de dados, gerando prejuízos legais para a empresa, além de prejudicar a visão 
            dela perante o mercado”, afirmou.
          </p>
          <p>
            O segundo ponto que Bortolazo traz é o chamado “ransomware as service”, que ocorre quando um 
            grupo de hackers vende seus serviços, simplificando a contratação de ataques. “Atualmente, um 
            indivíduo sem grande conhecimento consegue contratar o malware e realizar o ataque. Essa 
            simplicidade em contratar e executar o ataque também corroborou para o aumento desse tipo de crime”, 
            explicou.
          </p>
          <p>
            O terceiro ponto é a utilização dos chamados “zero days”, que são falhas que ainda não foram 
            descobertas por ninguém. Pesquisadores de segurança muitas vezes vendem essas vulnerabilidades 
            para determinada empresa que é dona do software vulnerável (apud ZANATTA, 2022).
          </p>
          <h5>
            Referência: ZANATTA, P. CNN Brasil Business. Pagamentos por resgates de dados aumentam 78% em 2021, 
            diz pesquisa. Disponível em: <https://www.cnnbrasil.com.br/business/pagamentos-por-resgates-de-dados-aumentam-78-em-2021-diz-pesquisa/>l. 
            Acesso em: 31 de outubro de 2022.
          </h5>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
