<div class="contatoPage">
  <app-topbar></app-topbar>
  <div class="contactCards">
    <div>
      <mat-card>
        <mat-card-title>Jardielen de Sousa</mat-card-title>
        <br>
        <mat-card-content>
          <p>Email: <b>aaaedenn47@gmail.com</b></p>
          <p>Numero: <b>(83)98882-4673</b></p>
          <a href="https://www.linkedin.com/in/jardielen-sousa-0762351bb">Linkedin</a>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Erick Fonseca Martins Peixoto</mat-card-title>
        <br>
        <mat-card-content>
          <p>Email: <b>erickrdg@outlook.com</b></p>
          <p>Numero: <b>(83)98770-4234</b></p>
          <a href="https://www.linkedin.com/in/erick-fonseca/">Linkedin</a>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <mat-card>
        <mat-card-title>Walter da Silva Filho</mat-card-title>
        <br>
        <mat-card-content>
          <p>Email: <b>walterfilho1000@gmail.com</b></p>
          <p>Numero: <b>(83)98736-5345</b></p>
          <a href="https://www.linkedin.com/in/walter-filho-180353215">Linkedin</a>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-title>Bruna Priscila Sousa Donato</mat-card-title>
        <br>
        <mat-card-content>
          <p>Email: <b>brunapsd19@gmail.com</b></p>
          <p>Numero: <b>(83)98653-3975</b></p>
          <a href="https://www.linkedin.com/in/bruna-donato-19847a11a/">Linkedin</a>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
