#videos {
  background: #FFF;
  padding: 0px 40px 50px;
  max-width: 100%;
  font-family: 'Poppins', sans-serif;
}

.videosLayout {
  max-width: 100%;
}
.videosLayout h1 {
  font-size: 40px;
  font-weight: 300;
}

.videos-card {
  display: flex;
}

.videos-card mat-card {
  height: 250px;
  width: 320px; 
  border: none;
  box-shadow: none;
}

.videos-card mat-card :hover {
  cursor: pointer;
}

.videos-card img {
  border-radius: 15px;
}

.videos-card a {
  text-decoration: none;
  color: #000;
}
.videos-card mat-card p {
  padding-top: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}