<div id="videos">
  <div class="videosLayout">
    <div class="title">
      <h1>| Videos Recomendados</h1>
    </div>

    <div class="videos-card">
      <a href="https://youtu.be/PPq251Xpjf4?list=PLhNq0SUoUAcEq8b8bR_f4olrX2eWl3C1w">
        <mat-card>
          <img src="../../../assets/Digital transformation-rafiki.svg" alt="SI">
          <mat-card-content>
            <p>
              Segurança da Informação - Conceito e Princípios
            </p>
          </mat-card-content>
        </mat-card>
      </a>
      <a href="https://youtu.be/QQpkEhZ6qGI?list=PLhNq0SUoUAcEq8b8bR_f4olrX2eWl3C1w">
        <mat-card>
          <img src="../../../assets/Server-amico.svg" alt="SI">
          <mat-card-content>
            <p>
              Segurança da Informação: Malware
            </p>
          </mat-card-content>
        </mat-card>
      </a>
      <a href="https://www.youtube.com/watch?v=bJXYrlBFL8k&t=1s">
        <mat-card>
          <img src="../../../assets/Add files-rafiki.svg" alt="SI">
          <mat-card-content>
            <p>
              Segurança da Informação: Legislação Associada à SI
            </p>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
    <mat-divider></mat-divider>
  </div>
</div>