<div id="videos">
  <div class="videosLayout">
    <h1>| Videos Recomendados</h1>

    <div class="videos-card">
      <a href="https://youtu.be/PPq251Xpjf4?list=PLhNq0SUoUAcEq8b8bR_f4olrX2eWl3C1w">
        <mat-card>
          <img src="https://i.ytimg.com/an_webp/PPq251Xpjf4/mqdefault_6s.webp?du=3000&sqp=CIbju5sG&rs=AOn4CLAktR9ShWZvsvNlZNwm_rgEATGnWQ" alt="SI">
          <mat-card-content>
            <p>
              Segurança da Informação - Conceito e Princípios
            </p>
          </mat-card-content>
        </mat-card>
      </a>
      <a href="https://youtu.be/QQpkEhZ6qGI?list=PLhNq0SUoUAcEq8b8bR_f4olrX2eWl3C1w">
        <mat-card>
          <img src="https://i.ytimg.com/an_webp/QQpkEhZ6qGI/mqdefault_6s.webp?du=3000&sqp=CNzou5sG&rs=AOn4CLBhBSSw01opr3qW33SqaAOC22M6ew" alt="SI">
          <mat-card-content>
            <p>
              Segurança da Informação - Malware
            </p>
          </mat-card-content>
        </mat-card>
      </a>
      <a href="https://www.youtube.com/watch?v=bJXYrlBFL8k&t=1s">
        <mat-card>
          <img src="https://i.ytimg.com/an_webp/bJXYrlBFL8k/mqdefault_6s.webp?du=3000&sqp=CP3wu5sG&rs=AOn4CLC91fX2J7PzXvLbXGqfBnBNiRb_BA" alt="SI">
          <mat-card-content>
            <p>
              Segurança da Informação - Legislação Associada à SI
            </p>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
</div>