<div class="pageSobre">
  <app-topbar></app-topbar>
  <div class="sobre">
    <mat-card>
      <mat-card-content>
        <mat-card-title>
          Sobre
        </mat-card-title>
        <mat-divider></mat-divider>
        <div class="texto">
          <p>
            Este portal foi desenvolvido como projeto final da disciplina de Segurança de Dados, ministrada 
            pelo professor Severino Paiva e também foi utilizado como componente criativo na cadeira de Métodos
            e Técnicas de Pesquisa, ministrada pelo professor Lafayette Melo. O projeto foi desenvolvido pelos
            alunos Erick Fonseca, Jardielen Sousa, Walter Filho e Bruna Donato, do 4º período do Curso de Tecnologia 
            em Sistemas para Internet do IFPB – Instituto Federal de Ciência, Educação e Tecnologia da Paraíba.
          </p>
          <p>
            O portal foi planejado e desenvolvido desde o começo da disciplina, e foi dividido em 3 partes principais: 
            Prototipagem, desenvolvimento e coleta de materiais para alimentar o portal. A prototipagem foi feita no Figma seguindo 
            conceitos importantes de UI/UX voltado para portais de noticias, a partir da prototipagem foi iniciado o 
            desenvolvimento do portal, majoritariamente desenvolvido utilizando o framework de front-end Angular, para
            aproveitamento de suas funcionalidades  além de aproveitar os conhecimentos adquiridos na disciplina de Desenvolvimento 
            Web. A coleta de materiais foi feita através de pesquisas na internet, além de utilizar videos e documentos produzidos
            pelo professor Severino Paiva, que foi o responsável pela disciplina de Segurança de Dados.
          </p>
          <p>
            O portal tem como objetivo principal informar o usuário sobre a importância da segurança de dados e LGPD,
            além de trazer informações sobre como se proteger de golpes na internet e como evitar que seus dispositivos
            sejam comprometidos por algum malware.
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>