<div class="noticiaPage">
  <app-topbar></app-topbar>
  <div class="noticia">
    <mat-card>
      <mat-card-content>
        <img
            mat-card-image
            src="../../../assets/noticia3.jpg"
            alt="ransomware"
          />
        <mat-card-title>
          Quatro em cada dez empresas brasileiras agem contra vazamento de dados
        </mat-card-title>
        <mat-divider></mat-divider>
        <div class="texto">
          <p>
            Pesquisa elaborada pelo Centro Regional de Estudos para o Desenvolvimento da Sociedade da 
            Informação (Cetic), realizada com base nas respostas de mais de 4 mil empresários, coletadas 
            entre agosto de 2021 e abril de 2022, revelou que quatro em cada dez empresas sediadas no Brasil 
            tomam medidas contra o vazamento de dados sigilosos dos clientes.
          </p>
          <p>
            As ações contra o vazamento de informações sensíveis cresceram 42% nos últimos dois anos, desde 
            o início da pandemia de Covid-19, mostra o levantamento, que fala em quase três milhões de ataques 
            hackers no Brasil durante o primeiro semestre de 2022 – alta de quase 10% em relação os primeiros 
            seis meses de 2021 (JANONES, 2022).
          </p>
          <p>
            Leia mais em:
            <a href="https://www.cnnbrasil.com.br/business/quatro-em-dez-empresas-brasileiras-agem-contra-vazamento-de-dados-diz-pesquisa/">
              https://www.cnnbrasil.com.br/business/quatro-em-dez-empresas-brasileiras-agem-contra-vazamento-de-dados-diz-pesquisa/
            </a>
          </p>
          <h5>
            Referências: JANONES, L. CNN Brasil. Quatro em dez empresas brasileiras agem contra vazamento de 
            dados, diz pesquisa. Disponível em: https://www.cnnbrasil.com.br/business/quatro-em-dez-empresas-brasileiras-agem-contra-vazamento-de-dados-diz-pesquisa/. 
            Acesso em: 02 de dezembro de 2022.
          </h5>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
