<div id="events">
  <div class="eventsLayout">
    <h1>| Eventos</h1>

    <div class="content">
      <div class="imgCalendar">
        <img src="../../../assets/calendar.svg" alt="calendar">
      </div>
  
      <div class="cards">
        <h2 class="calendarTitle">Esse mês</h2>
        <mat-card>
          <h3>Teste</h3>
          <div>
            <mat-icon>
              <img src="../../../assets/Timeline Week.svg" alt="calendar">
            </mat-icon>
            <span>10/10/2020</span>
          </div>
        </mat-card>

      </div>
    </div>
  </div>
</div>
