<div id="events">
  <div class="eventsLayout">
    <h1>| Eventos</h1>

    <div class="content">
      <div class="imgCalendar">
        <img src="../../../assets/calendar.svg" alt="calendar">
      </div>
  
      <div class="cards">
        <h2 class="calendarTitle">Próximos eventos</h2>
        <mat-card>
          <h3 style="font-weight: 400;">IFPB SECURITY</h3>
          <h4>IFPB - Campus João Pessoa | Auditório José Marques</h4>
          <div class="eventInformation">
            <mat-icon>
              <img src="../../../assets/Timeline Week.svg" alt="calendar">
            </mat-icon>
            <span>06/12/2022</span>
          </div>
        </mat-card>

        <!-- <mat-card>
          <h3 style="font-weight: 400;">IFPB SECURITY</h3>
          <h4>IFPB - Campus João Pessoa | Auditório José Marques</h4>
          <div class="eventInformation">
            <mat-icon>
              <img src="../../../assets/Timeline Week.svg" alt="calendar">
            </mat-icon>
            <span>06/12/2022</span>
          </div>
        </mat-card> -->
      </div>
    </div>

    <mat-divider></mat-divider>
  </div>
</div>
