<div id="categories">
  <div class="categoriesLayout">
    <h1>| Busque por Categorias</h1>

    <div class="buttons">
      <button class="lgpd" type="button">
        <img src="../../../assets/lockIcon.png" alt="lockIcon">
        <span>Lei Geral de Proteção de Dados</span>
      </button>
      <button class="notices" type="button">
        <img src="../../../assets/journalIcon.png" alt="journalIcon">
        <span>Notícias</span>
      </button>
      <button class="videos" type="button">
        <img src="../../../assets/playerIcon.png" alt="journalIcon">
        <span>Videos</span>
      </button>
    </div>

    <mat-card class="card">
      <div class="cardContentText">
        <span>Descubra o que é a lei geral de proteção de dados (LGPD)</span>
        <button class="about" type="button">Saiba mais</button>
      </div>
      <div class="cardContentImg">
        <img src="../../../assets/privacyPolicy-amico.svg" alt="pP">
      </div>
    </mat-card>
    <mat-divider></mat-divider>
  </div>
</div>