
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  background: linear-gradient(272.55deg, #03091D 70.39%, #06103C 98.77%);
  height: auto;
}

.topbar {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  max-width: 100%;
}

.topbar h1 {
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
  background: linear-gradient(89.32deg, #01B0F9 -8.43%, #015BEA 48.67%, #027FF0 95.98%);
  font-size: 30px;
  font-weight: 300;
  margin: 0px;
  font-family: 'Courier New', Courier, monospace;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  color : #FFFFFF;
}

.topbar button {
  padding: 0px 30px;
  margin: 0px 10px;
  height: 40px;
  font-size:large;
  background: none;
  color: #FFFFFF;
  font-family: 'Courier New', Courier, monospace;
  border: none;
  border-radius: 10px;
  transition-duration: 0.8s;
}

.topbar button:hover {
  background-color: #027FF0;
  cursor: pointer;
}

.content {
  display: flex;
  max-width: 100%;
  justify-content: space-around;
}

.content img {
  height: 65vh;
  width: 75vh;
}

.slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400px;
  font-size: 5vw;
  line-height: 80px;
  color: #FFFFFF;
}
