<div id="container">
    <div class="content">

        <div class="title">
            <h1>Fique por dentro do que ocorre no mundo da Segurança da Informação</h1>
        </div>

        <div class="button">
            <button type="button">Popular</button>
            <button type="button">Recentes</button>
            <button type="button">Internacional</button>
        </div>

        <div class="cards">
            <div class="card1">
                <mat-card class="example-card">
                    <mat-card-header> </mat-card-header>
                    <img mat-card-image src="https://as2.ftcdn.net/v2/jpg/03/21/43/07/1000_F_321430761_qQi0CU9tzI5w1k1vJgdA02LMtXtsXvJE.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>

        </div>

    </div>
</div>