<div id="news">
    <div class="content">

        <div class="title">
            <h1>| Notícias </h1>
        </div>


        <div class="news-card">
            <a href="#">
                <mat-card>
                    <mat-card-header></mat-card-header>
                    <img mat-card-image src="../../../assets/news.svg" alt="hacker">
                    <mat-card-content>
                        <p>
                        exemplo materia
                        </p>
                    </mat-card-content>
                </mat-card>
            </a>
    
            <a href="#">
                <mat-card>
                    <mat-card-header></mat-card-header>
                    <img mat-card-image src="../../../assets/news2.svg" alt="hacker">
                    <mat-card-content>
                        <p>
                        exemplo materia
                        </p>
                    </mat-card-content>
                </mat-card>
            </a>
    
            <a href="#">
                <mat-card>
                    <mat-card-header></mat-card-header>
                    <img mat-card-image src="../../../assets/news.svg" alt="hacker">
                    <mat-card-content>
                        <p>
                        exemplo materia
                        </p>
                    </mat-card-content>
                </mat-card>
            </a>
        </div>
    </div>
</div>