#news{
    max-width: 100%;
    background-color: #fff;
    padding: 0px 40px 50px;
}

.content{
    max-width: 100%;
}

.title{
    display: flex;
}

.title h1{
    font-size: 40px;
    font-weight: 300;
    margin-top: 20px;
}

.news-card{
    display: flex;
    margin-bottom: 20px;
}

.news-card mat-card{
    height: 250px;
    width: 320px;
    margin: 20px 20px;
}

.news-card mat-card :hover {
    cursor: pointer;
}

.news-card a {
    text-decoration: none;
    color: #000;
}

.news-card mat-card p {
    font-size: 1.0rem;
    line-height: 1.2rem;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
}

.news-card mat-card-content {
    padding: 0px 10px 0px;
}

mat-card img {
    height: 80%
}
