<div class="artigoPage">
  <app-topbar></app-topbar>
  <div class="noticia">
    <mat-card>
      <mat-card-content>
        <img
            mat-card-image
            src="../../../assets/bookcase-books-bookshelves-256541.jpg"
            alt="academicos"
          />
        <mat-card-title>
          Artigo: <i>Ataques de “Injeção SQL”: 
          A relevância do Código Seguro na Segurança 
          da Informação.</i>
        </mat-card-title>
        <mat-divider></mat-divider>
        <div class="texto">
          <p>
            Este artigo foi produzido pelos alunos do terceiro período do curso de Sistemas 
            para Internet da instituição do IFPB Campus de João Pessoa. Tal artigo fora 
            desenvolvido de acordo com todo o conteúdo ministrado pelo professor Severino 
            do Ramo de Paiva, na disciplina de Segurança de Dados, com também orientação do 
            professor Lafayette Batista Melo, professor da disciplina de Métodos e Técnicas 
            de Pesquisa e com base também em pesquisas bibliográficas e suas referências.
          </p>
          <p>
            A abordagem do artigo tem como tema bastante pertinente na área de T.I e em específico 
            na área de segurança de dados e segurança da informação. Sabemos que com o grande 
            avanço da tecnologia os usuários estão mais propensos a ataques cibernéticos e ter seus 
            dados nas mãos de pessoas mal intencionadas gerando assim possivelmente dores de cabeça 
            para lidar com a situação. O artigo traz informações de como acontecem os ataques e quais 
            medidas devem ser tomadas para evitar os mesmos.
          </p>
          <p>
            O artigo estará sendo apresentado no evento organizado pelos próprios alunos que estão 
            cursando a disciplina de Segurança de Dados no evento "IF Security" no dia 06 de 
            dezembro de 2022 no auditório do IFPB campus João Pessoa.
          </p>
          <p>
            O artigo pode ser acessado <a href="https://bityli.com/vygQroiYS">clicando aqui</a> 
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
